{
  "presets": [
    ["es2015",{"modules":false }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
				"container": "./container",
				"component": "./component",
				"action": "./action",
				"reducer": "./reducer",
				"selector": "./selector"
      }
    }]
  ],
	"env": {
		"test": {
			"plugins": ["transform-es2015-modules-commonjs"]
		}
  }
}
